<div class="container">
  <div class="col-md-6 offset-md-3">

    <% if user_signed_in? %> 
      <div class="board-title text-center">Dash Boards</div>
      <div class="board-name text-center"><%= current_user.name %></div> 
  
      <div class="actions text-center">
        <%= link_to t('activerecord.attributes.user.article_index'), user_articles_path(current_user), class: "btn btn-primary btn-size" %><br />
        <%= link_to t('activerecord.attributes.user.edit_title'), edit_user_registration_path, class: "btn btn-primary btn-size" %><br />
        <%= link_to t('activerecord.attributes.user.sign_out'), destroy_user_session_path, class: "btn btn-warning btn-size", method: :delete %> 
      </div>
    <% end %>
  </div>
</div>