@import "bootstrap";

.btn_size {
  width: 225px !important;
  height: 50px !important;
  font-size: 23px !important;
}

.board-title {
  font-size: 65px;
  font-weight: 500;
}

.board-name {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 500;
}

.btn-size {
  font-size: 30px;
  width: 500px;
  height: 60px;
  margin-bottom: 28px;
}

.article-index {
  font-size: 50px;
}

.article-index-btn {
  font-size: 25px;
  margin-left: -110px;
  width: 750px;
  height: 50px;
}

#table-articles {
  thead {
    border-top: 3px solid white;
    border-bottom: 3px solid #333;
  }
  tbody {
    border-bottom: solid #eeeeeefa;
  }
  td {
    vertical-align: middle;
  }  
}

.article-new {
  font-size: 20px;
  margin: 20px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

.article-label1 {
  margin-bottom: -7px;
  margin-left: -560px;
}

.article-field {
  width: 650px;
  margin-left: -100px;
}

.article-label2 {
  margin-top: 10px;
  margin-bottom: -7px;
  margin-left: -230px;
  width: 300px;
}

.article-label3 {
  margin-top: 10px;
  margin-bottom: -17px;
  margin-left: -595px;
}

.article-image {
  margin-top: 10px;
  margin-left: -100px;
}

.board_board_image {
  width: 400px;
  height: 44px; 
}

.article-back {
  margin-left: -590px;
}

.index-title {
  vertical-align: middle;
}







